# directories
.gradle/
.idea/
.vs/
.vscode/
[Aa]ssets/Plugins/Editor/
[Aa]ssets/Plugins/Editor.meta
[Aa]ssets/Test/
[Aa]ssets/Test.meta
[Ll]ibrary/
[Ll]ogs
[Oo]bj/
[Oo]utput/
[Pp]ackages/
[Tt]emp/

# files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.apk
*.unitypackage
*.log

buildlog.txt
ProjectSettings/ProjectVersion.txt
Assets/toolSetting.asset
Assets/toolSetting.asset.meta
